<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.this0.blog.mapper.CategoryMapper">
    <update id="updateCategory">
        update category
        set cname=#{cname} where cid=#{cid}
    </update>
    <select id="selectAllCategory" resultType="Category">
        select cid, cname, create_time, update_time
        from category
    </select>
    <select id="selectByPage" resultType="Category">
        select cid ,cname,create_time,update_time from category
        <where>

            <if test="cname!=null and cname!=''">
                cname like concat('%' , #{cname},'%')
            </if>
        </where>
    </select>
</mapper>